@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LexendGiga";
  src: url("/fonts/LexendGiga.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}