@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RanadeBold';
  src: url('/Ranade-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'MonaSansBold';
  src: url('/MonaSans-ExtraBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Moonet';
  src: url('/Moonet.otf') format('opentype');
}