@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LexendGiga";
  src: url("/fonts/LexendGiga.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaSans";
  src: url("/fonts/MonaSans.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}